/* BODY */
body {
    background-color: #EEEEEE;
    margin: 0%;
    padding: 0%;
}

/* TOP NAV BAR */
.nav-bar-element {
    height: 7rem;
    background-color: #393E46;
}

.Logo {
    float: left;
    width: auto;
    height: 4rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

.topnav {
    overflow: hidden;
    float: right;
    margin-top: 2rem;
    margin-right: 5rem;
}

.topnav a {
    color: #EEEEEE;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.0625rem;
}

.topnav a:hover {
    background-color: #222831;
    color: #EEEEEE;
}

.topnav a.active {
    background-color: #00ADB5;
    color: #EEEEEE;
}

/* PAGE CONTENT */
.body-element {
    background-color: #EEEEEE;
    background-image: url(Element/man-working-on-laptop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 68.75rem;
}

.body-head-line {
    color: #EEEEEE;
    margin-left: 5rem;
    padding-top: 13rem;
    font-size: 5rem;
}

.body-button {
    margin-left: 5rem;
    font-size: 1.25rem;
    border-radius: 0.8125rem;
    border: none;
    background-color: #00ADB5;
    color: #EEEEEE;
    width: 15.625rem;
    height: 3.125rem;
}

.body-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.body-button span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.25rem;
    transition: 0.5s;
}

.body-button:hover span {
    padding-right: 1.5625rem;
}

.body-button:hover span:after {
    opacity: 1;
    right: 0;
}

.body-button a {
    text-decoration: none;
    color: #EEEEEE;
}

.body-element-2 {
    width: 90%;
}

.body-head-line-2 {
    text-align: center;
    font-size: 4rem;
}

.About-Us-P-img {
    margin: 0 5rem 2rem 5rem;
}

.About-Us-P {
    width: 50%;
    display: inline-block;
    font-size: 1.5rem;
}

.About-Us-P a {
    color: #00ADB5;
}

.About-Us-img {
    width: 45%;
    float: right;
    position: relative;
    left: 10rem;
}

/* FOOTER */
footer {
    background-image: url(Element/fotter.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0rem;
    background-color: #393E46;
    color: #EEEEEE;
    height: 25rem;
    padding-top: 2rem;
}

footer h3 {color: #EEEEEE;}

footer a {color: #EEEEEE; text-decoration: none;}

.row {padding-left: 5rem;}

.logo-address {float: left;}

.Logo1 img {width: auto; height: 4rem;}

.Quick-Links {float: left; margin-right: 5rem; margin-left: 5rem;}

.Follow-Us {float: left; margin-right: 5rem}

.Follow-Us ul {color: #EEEEEE; list-style: none; padding: 0%;}

.Follow-Us li {display: inline-block;    margin: 0.4rem;}

.Follow-Us li a {color: #EEEEEE; font-size: 1.125rem;}

/*.Secure-Checkout{}*/
.Secure-Checkout img {float: right; width: 25rem; position: relative; right: 9rem; display: block;}